@import '../index.scss';

.cursor {
    width: 20px;
    height: 20px;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 50%;
    pointer-events: none;
    z-index: 991;
    background-color: white;
   backdrop-filter: blur(1px);

   @media screen and (max-width: $max_tablette) {
    display: none;
}
}

