@import './index.scss';

//FONT

* {
  box-sizing: border-box;
  font-family: 'Helvetica';
}

body {
  padding: 0;
  margin: 0;
  background-color: $bg_black;
  color: $white;
}

.Home {
  margin: 0 auto;
  height: 100vh;

    &__row {
        display: flex;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        align-items: center;

        &__imagecontainer {
            &__title{
              text-transform: uppercase;
              font-size: 16px;
              display: flex;
              justify-content: space-between;
              align-items: baseline;
              height: 25px;
              &__left{
                font-weight: bold;
              }
              &__right{
                color: $font-grey;
              }
              @media screen and (max-width: $max_mobile) {
                font-size: 14px;
              }
            }
            .thumbnail {
                overflow: hidden;
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                .frame {
                  height: 100%;
                  display: flex;
                  justify-content: center;
                  display: flex;
                  
                    img {
                        width: auto;
                        height: 100%;
                        
                    }
                }
            }
            .js_project_head{
              transition: all 200ms ease-in-out;
            }
            .js_project_visu{
              transition: all 1000ms ease-in-out;
            }

            .opacitynone{
              opacity: 0!important;
            }

            .scalenone{
              clip-path: polygon(0 0, 100% 0,  100% 0, 0 0);
            };
        }
    }
}

.Home_bottom{
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;
  box-sizing: border-box;
  padding:0 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  button{
    opacity: 0;
    background-color: transparent;
    color: $font-grey;
    text-transform: uppercase;
    font-size: 12px;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 989;
    transition: all 200ms ease-in-out;
    animation: load_button 1s forwards;
    animation-delay: 1s;

    &:hover{
      color: $white;
    }
  }
}

@keyframes load_button {
  from {
      opacity: 0;
  }
  to {
      opacity: 1
  }
}
//single




