@import './index.scss';

//FONT

* {
  box-sizing: border-box;
}


.Home {
  margin: 0 auto;
  height: 100vh;

    &__row {
        display: flex;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        align-items: center;

        &__imagecontainer {
            &__title{
              text-transform: uppercase;
              font-size: 16px;
              display: flex;
              justify-content: space-between;
              align-items: baseline;
              height: 25px;
              &__left{
                font-weight: bold;
              }
              &__right{
                color: $font-grey;
              }
              @media screen and (max-width: $max_mobile) {
                font-size: 14px;
              }
            }
            .thumbnail {
                overflow: hidden;
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
                .frame {
                  height: 100%;
                  display: flex;
                  justify-content: center;
                  display: flex;
                  
                    img {
                        width: auto;
                        height: 100%;
                        
                    }
                }
            }
            .js_project_head{
              transition: all 200ms ease-in-out;
            }
            .js_project_visu{
              transition: all 700ms cubic-bezier(0.72,-0.01, 0.25, 1);
            }

            

            .scalenone{
              clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0% 50%);
            };
        }
    }
}
.Home_top{
  position: absolute;
  top: 0;
  left: 0;
  padding:25px;
  color: $font-grey;
  text-transform: uppercase;
  font-size: 10px;
  opacity: 0;
  animation: load_button 1s forwards;
  animation-delay: .7s;
  cursor: default;
}
.Home_bottom{
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;
  box-sizing: border-box;
  padding:0 25px 25px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  

  p{
    position: absolute;
    transform: translate(-50%, 0%);
    left: 50%;
    bottom: 25px;
    //opacity: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 80px;
    transition: all 400ms ease-in-out;
    //animation: load_button 1s forwards;
    animation-delay: 1s;

    @media screen and (max-width: $max_mobile) {
      bottom: 95px;
      font-size: 40px;
      transition: all 400ms ease-in-out;
    }
  }

  .opacitynone{
    opacity: 0!important;
  }

  button{
    opacity: 0;
    background-color: transparent;
    color: $font-grey;
    text-transform: uppercase;
    font-size: 12px;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 989;
    transition: all 200ms ease-in-out;
    animation: load_button 1s forwards;
    animation-delay: 1s;
    @media screen and (max-width: $max_mobile) {
      font-size: 14px;
    }

    &:hover{
      color: $white;
    }
  }
}

@keyframes load_button {
  from {
      opacity: 0;
  }
  to {
      opacity: 1
  }
}
//single




